body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
  background-color: #ffbf00;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}
button:hover {
  background-color: #ffda5c;
}
table, th, td {
  border: 1px solid #ccc;
  padding: 6px 10px;
}
